.big {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form-container {
  border: 1px solid #dadada;
  padding: 20px;
  width: 400px;
  height: 450px;
  border-radius: 6px;
  margin: 50px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-weight: 600;
  color: black;
}

.form-input {
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dadada;
}
